body{
    margin:0px;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    max-height: 100vh;
}
main{
    flex:1;
    background-color: #0F172A;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:scroll;
    
}
article{
    width: 60%;
    margin-top: 20px;
}

.card{
    background-color: #1E293B;
    color: #F1F5F9;
    padding:10px;
    margin:20px;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex:4 1 0;
    
}

.text-content{
    flex:1;
    margin: 8px;
}

h2{
    margin: 0;
    
}
a{
    color:#38BDF8;
    margin:2px;
    
}
i{
    -webkit-text-stroke: 0.7px currentColor;
    margin:0;
}
p{
    margin:4px 0 0;
}
button{
    display:none;
}


.card-img{
    height:200px;
    width: 200px;
    background-color: blue;
    margin:5px;
    border-radius: 25px;

}

footer{
    height:3rem;
    flex-shrink: 0;
    background-color: black;
    color:white;
    text-align: center;
    line-height: 3rem;
}
@media (max-width:800px) {
    article{
        width:auto;
    }
    .card-img{
        width:150px;
        height:150px;
    }
    p{
        display:none;
    }
    .card-header{
    text-align: center;
    }
    .text-content{
        margin:4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    button{

        display:block;
        margin:10px;
        background-color: transparent;
        color:#0F172A;;
        background-color: #38BDF8;
        text-decoration: bold;
        border: none;
        border-radius: 5px;
        padding:10px;
    }
   
}